/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 40px;
}

header img {
  height: 60px;
  width: 1oopx;
}

nav {
  height: 60px;
  position: fixed;
  right: 10px;
  background: white;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 2rem;
}

section#concert {
  height: 1000px;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  width: 100%;
  color: #fff;
  padding-top: 250px;
}

section#concert h1,
section#concert p {
  text-align: center;
}

section#concert h1 {
  font-size: 4em;
}

.section#concert p {
  font-size: 1.8em;
}

section#what {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

section#what h3 {
  text-align: center;
  font-size: 2em;
  border-bottom: 2px #00b172 solid;
  padding-bottom: 14px;
  width: 25%;
  margin: 20px auto;
}

.content {
  display: flex;
  flex-direction: column;
}

.content_images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content_headings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.content_headings h5 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  color: #00b172;
}

.content_texts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content_texts p {
  width: 10%;
  text-align: center;
  font-weight: light;
}

section#what img {
  height: 80px;
  width: 1oopx;
}

footer {
  background-color: #00b172;
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
  left: 2%;
  max-height: 1000px;
}

div.logo {
  width: 70%;
}

div.logo * {
  width: 80%;
  margin-left: 10%;
  padding: 10px;
}

.logo img {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 40%;
  left: 35%;
}

.logo h3 {
  margin-top: 5%;
  color: #fff;
  border-bottom: 1px solid white;
  padding-bottom: 14px;
  font-size: 1.6em;
  font-weight: bold;
  width: 45%;
}

.logo h4 {
  font-size: 1.5em;
  font-weight: bold;
}

.logo p {
  font-size: 1.1em;
  text-align: justify;
}

.logo h4,
.logo p {
  width: 50%;
}

.kanye {
  top: 3%;
}

.kanye img {
  position: absolute;
  right: 10%;
  top: 20%;
  width: 300px;
  height: 480px;
}
